{% extends 'base.html' %}
{% load static %}


{% block content %}

    <!-- Główna zawartość strony -->
        
    <!-- Header-->
    <header class="py-5">
        <div class="container px-lg-5">
            <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                <div class="m-4 m-lg-5">
                    <h1 class="display-5 fw-bold">
    Centrum prognoz pogodowych
    <img src="{% static 'images/sun_icon.png' %}" alt="Sunny Icon" style="width: 30px; vertical-align: middle;">
</h1>
                    <p class="fs-4">Aplikacja umożliwia łatwe sprawdzanie aktualnych i prognozowanych warunków pogodowych dla wybranej lokalizacji, dzięki czemu użytkownik może szybko zaplanować swoje działania.</p>
                    <p class="fs-4">Dane pobierane są z profesjonalnego API pogodowego, które dostarcza precyzyjne i wiarygodne informacje o temperaturze, opadach, prędkości wiatru, zachmurzeniu oraz innych parametrach atmosferycznych.</p>

                    <p class="fs-4">Domyślną lokalizacją jest Gdynia.</p>


                </div>
            </div>
        </div>
    </header>
    
    <!-- Page Content-->
    <section class="pt-4">
        <div class="container px-lg-5">
            <!-- Page Features-->
            <div class="row gx-lg-5">
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                                <a href="{% url 'analyzer:windy' %}" class="text-white">
                                    <i class="bi bi-wind"></i>
                                </a>
                            </div>
                            <h2 class="fs-4 fw-bold">Windy</h2>
                            <p class="mb-0">WWW: <a href="https://www.windy.com/">https://www.windy.com/</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                                <a href="{% url 'analyzer:open_weather_map' %}" class="text-white">
                                    <i class="bi bi-cloud-hail"></i>
                                </a>
                            </div>
                            <h2 class="fs-4 fw-bold">Open Weather Map</h2>
                            <p class="mb-0">WWW: <a href="https://openweathermap.org/">https://openweathermap.org/</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                                <a href="{% url 'analyzer:weather_api' %}" class="text-white">
                                    <i class="bi bi-umbrella"></i>
                                </a>
                            </div>
                            <h2 class="fs-4 fw-bold">Weather API</h2>
                            <p class="mb-0">WWW: <a href="https://www.weatherapi.com/">https://www.weatherapi.com/</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                                <a href="{% url 'analyzer:python_weather' %}" class="text-white">
                                    <i class="bi bi-tsunami"></i>
                                </a>
                            </div>
                            <h2 class="fs-4 fw-bold">Python Weather</h2>
                            <p class="mb-0">WWW: <a href="https://python-weather.readthedocs.io/en/latest/forecast/weather.html">https://python-weather.readthedocs.io/en/latest/forecast/weather.html</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                                <a href="{% url 'analyzer:open-meteo' %}" class="text-white">
                                    <i class="bi bi-moon-stars"></i>
                                </a>
                            </div>
                            <h2 class="fs-4 fw-bold">Open Meteo</h2>
                            <p class="mb-0">WWW: <a href="https://open-meteo.com/">https://open-meteo.com/</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                                <a href="{% url 'analyzer:weather-bit' %}" class="text-white">
                                    <i class="bi bi-tornado"></i>
                                </a>
                            </div>
                            <h2 class="fs-4 fw-bold">Weather Bit</h2>
                            <p class="mb-0">WWW: <a href="https://www.weatherbit.io/">https://www.weatherbit.io/</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                                <a href="{% url 'analyzer:virtualcrossing' %}" class="text-white">
                                    <i class="bi bi-snow"></i>
                                </a>
                            </div>
                            <h2 class="fs-4 fw-bold">Virtual Crossing</h2>
                            <p class="mb-0">WWW: <a href="https://www.visualcrossing.com/">https://www.visualcrossing.com/</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        

{% endblock content %}
