{%  extends 'base.html' %}
{%  load static %}
{% load indexing %}

{% block content %}

    {%  if query %}
        <h3 class="text-center mb-2 mt-2">Dane dla m. <u>{{ query|title }}</u></h3>
        <h5 class="text-center mb-2 mt-2">Adres: {{ adres }} </h5>
    {% else %}
        <h3 class="text-center mb-2 mt-2">Dane dla m. <u> Gdynia </u></h3>
    {%  endif %}

    <form action="{%  url 'analyzer:windy' %}" class="w-75 srodkowy mb-4">
          <div class="row">
              <div class="col-md-12 mb-3">
                  <div>
                      <label for="localization_query">Lokalizacja</label>
                      <input
                              class="form-control mt-2"
                              id="query"
                              name="localization_query"
                              type="text"
                              placeholder="Wpisz miejsce ..."
                              required
                      >
                  </div>
              </div>
          </div>
          <div class="mt-3 mb-3">
                    <button type="submit" class="btn btn-primary">Pobierz dane z Windy</button>
          </div>
    </form>

    <table class="table table-striped table-bordered border-primary table-hover w-75">
      <tr>
        <th>Nr</th>
        <th>Data i czas</th>
        <th>Wiatr (przy powierzchni)</th>
        <th>Punkt rosy (przy powierzchni)</th>
        <th>Ciśnienie (przy powierzchni)</th>
        <th>Wilgotność</th>
        <th>Temperatura</th>
      </tr>

      {% for t in time_from_timestamp %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ t|date:'Y-m-d H:i' }}</td>
          <td>{{ wind_u_surface|index:forloop.counter0|floatformat:2}} m/s</td>
          <td>{{ dewpoint_surface|index:forloop.counter0|floatformat:2 }} K</td>
          <td>{{ pressure_surface|index:forloop.counter0|floatformat:2 }} Pa</td>
          <td>{{ rh_surface|index:forloop.counter0|floatformat:2 }} %</td>
          <td>{{ temperatura|index:forloop.counter0|floatformat:2 }} °C</td>
        </tr>
      {% endfor %}

    </table>

    <div class="text-center">
        <a href="{% url 'analyzer:index' %}" class="btn btn-secondary srodkowy mb-3" role="button" aria-disabled="true">Początek</a>
    </div>

{% endblock content %}
